html {
  background-color: rgba(221, 221, 221, 0.5);
}
.login-wrapper {
  padding: 50px 30% 0 30%;
}

.sign-up-wrapper {
  padding: 50px 30% 0 30%;
  height: 100vh;
  background-image: url("../src/images/signupBg.jpg");
  background-size: cover;
}

.login-outer-wrapper {
  background-image: url("../src/images/loginBg.jpg");
  background-size: cover;
}

.big-outer-wrapper {
  padding: 0 40px;
}

.search-wrapper {
  margin: 30px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.reading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.custom-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  margin: 20px 0;
}

.right-gap {
  margin-right: 20px;
}

.new-hh-wrapper {
  margin: 50px 20px 10px 20px;
  padding-bottom: 20px;
}
.all-table-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-hh-wrapper {
  padding: 20px;
}

.progress-wrapper {
  padding: 30px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}

@media (max-width: 800px) {
  .login-wrapper {
    padding: 15px;
  }

  .sign-up-wrapper {
    padding: 15px;
  }
  .custom-css {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media (min-width: 1025px) {
  .form-wrapper {
    padding-right: 200px;
  }

  .custom-input {
    padding: 0 25%;
  }

  .new-hh-form-wrapper {
    padding: 0 20%;
  }
}
